<div class="container">
    <div class="row">
        <h2><%= @restaurant.name %></h2>

        <h4>Average Rating
            <span class="average-review-rating" data-score="<%= @average_review %>"></span>
        </h4>
        <p>Based on <%= @restaurant.reviews.count %> reviews</p>
        <br></br>

        <p><%= @restaurant.description %></p>
        <p><%= @restaurant.contactInfo %></p>
        <b></br>
    </div>

    <div class="row">
        <%= button_to "Back", root_path, method: :get %>

        <% if user_signed_in? %>
            <% if @restaurant.user_id == current_user.id %>
                <%= button_to "Edit", edit_restaurant_path(@restaurant), method: :get %>
                <%= button_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        <% end %>
        <br></br>
    </div>

    <div class="row">
        <h4>Reviews</h4>
        <% if user_signed_in? %>
            <%= button_to "Add Review", new_restaurant_review_path(@restaurant), method: :get %>
        <% end %>
        <%= render @restaurant.reviews %>
    </div>
</div>

<script>
    $('.review-rating').raty({
        readOnly:true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly:true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });   
</script>